body{
    background-color: #201313;
}
.button{
    background-color: rgb(233, 25, 25);
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border-radius: 30%;
}
.p{
    font-size: 20;
    font-style: italic;
}
.main{
    background-color: blue;
    height: 200px;
    width: 500px;
    padding-top: 50px;
    font-style: italic;
}

